{% extends "_base.jinja2" %}
{% block css_plus %}
    <link rel="stylesheet"
          href="{{ url_for('static', path='/css/signin.css')}}"/>
{% endblock css_plus %}
{% block content %}
    <main class="form-signin">
        <form action="{{ url_for('login') }}" method="post">
            <h1 class="h3 mb-3 fw-normal">请登录</h1>
            <div class="form-floating">
                <input type="email"
                       class="form-control"
                       name="username"
                       id="username"
                       placeholder="name@example.com"/>
                <label for="floatingInput">邮箱</label>
            </div>
            <div class="form-floating">
                <input type="password"
                       name="password"
                       class="form-control"
                       id="password"
                       placeholder="Password"/>
                <label for="floatingPassword">密码</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary M_login_btn" type="submit">登录</button>
            <p class="mt-5 mb-3 text-muted">
                鱼丸同学成长记录
            </p>
        </form>
    </main>
{% endblock content %}
{% block js_plus %}
    <script type='text/javascript'>
    $(document).ready(function(){
        $('.M_login_btn').click(function(e){
            var username = $('#username').val()
                password = $('#password').val()
                payload = {
                    'username': username,
                    'password': password,
                }
                console.log(payload)
            $.ajax({
                headers : {
                    'Accept' : 'application/json',
                    'Content-Type' : 'application/json',
                },
                url:"{{ url_for('login') }}" ,
                type: "POST",
                data: JSON.stringify(payload),
                success: function(result){
                    window.location.href = "{{ url_for('index') }}";
                },
            })
            return false
        })
    })
    </script>
{% endblock js_plus %}
