{% extends "_base.jinja2" %}
{% block css_plus %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/photo.css')}}"/>
    <link rel="stylesheet"
          href="{{ url_for('static', path='/fileinput/css/fileinput.min.css')}}"/>
{% endblock css_plus %}
{% block content %}
    {% block content_header %}
        <header>
            <div class="navbar navbar-dark bg-dark shadow-sm">
                <div class="container">
                    <a href="{{ url_for('index') }}"
                       class="navbar-brand d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="20"
                             height="20"
                             fill="none"
                             stroke="currentColor"
                             stroke-linecap="round"
                             stroke-linejoin="round"
                             stroke-width="2"
                             aria-hidden="true"
                             class="me-2"
                             viewBox="0 0 24 24">
                            <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/>
                            <circle cx="12" cy="13" r="4"/>
                        </svg>
                        <strong>鱼丸札记</strong>
                    </a>
                    <div class="flex-shrink-0 dropdown float-end">
                        <a href="#"
                           class="d-block link-light text-decoration-none dropdown-toggle"
                           id="dropdownUser2"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <i class="bi bi-person-circle"></i>
                        </a>
                        <ul class="dropdown-menu text-small shadow"
                            aria-labelledby="dropdownUser2">
                            <li>
                                <a class="dropdown-item" href="{{ url_for('logout') }}">退出登录</a>
                            </li>
                        </ul>
                    </div>
                    {% block upload_btn %}
                    {% endblock upload_btn %}
                </div>
            </div>
        </header>
    {% endblock content_header %}
    {% block content_main %}
        <main class="M_background">
            <section class="container">
                <div class="text-center">
                    <img height=""
                         width=""
                         src="{{ url_for('static', path='/image/banner.jpg') }}"
                         class="img-fluid"
                         alt="..."/>
                </div>
            </section>
            <div class="album py-5 bg-light M_list">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="btn-group">
                                <button type="button"
                                        class="btn btn-primary dropdown-toggle"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    {{ current_mediagroup.title }}
                                </button>
                                <ul class="dropdown-menu">
                                    {% for media_group in media_groups %}
                                        <li>
                                            <a class="dropdown-item"
                                               href="{{ url_for('media_group_index', media_group_id=media_group.id) }}">{{ media_group.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% if current_user.user_type in [0,1] %}
                                <button class="btn btn-primary float-end"
                                        type="button"
                                        data-bs-toggle="modal"
                                        data-bs-target="#uploadmodal">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="16"
                                         height="16"
                                         fill="currentColor"
                                         class="bi bi-cloud-upload"
                                         viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                              d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"/>
                                        <path fill-rule="evenodd"
                                              d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3z"/>
                                    </svg>
                                    上传
                                </button>
                            {% endif %}
                        </div>
                    </div>
                    <hr />
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        {% for media, d, h, m, s in mediaobjs %}
                            <div class="col">
                                <div class="card shadow-sm">
                                    {% if media.is_pic %}
                                        <img src="/upload/{{ media.upload_render_file_path }}"
                                             alt="..."
                                             class="img-thumbnail"
                                             height=""
                                             width=""/>
                                    {% else %}
                                        <video class="img-thumbnail"
                                               src="/upload/{{ media.upload_render_file_path }}"
                                               controls="controls">
                                        </video>
                                    {% endif %}
                                    <div class="card-body">
                                        <p class="card-text">
                                            <h5>“{{ media.title }}”</h5>
                                        </p>
                                        <p class="card-text">
                                            {{ media.description }}
                                        </p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                {% if current_user.user_type in [0,1] %}
                                                    <a href="{{ url_for('media_detail', media_id=media.id) }}"
                                                       class="btn btn-outline-secondary">编辑</a>
                                                {% endif %}
                                            </div>
                                            <small class="text-muted">
                                                {% if d %}
                                                    {{ d }}天前
                                                {% elif h %}
                                                    {{ h }}小时前
                                                {% elif m %}
                                                    {{ m }}分钟前
                                                {% elif s %}
                                                    {{ s }}秒前
                                                {% endif %}
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="page">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" id="pre">
                                <a class="page-link"
                                   href="{{ url_for('media_group_index', media_group_id=current_mediagroup.id) }}?page_num={{ 1 if now_page_num-1 else now_page_num }}">前一页</a>
                            </li>
                            {% for page_num in range(1,total_page_num+1)%}
                                <li class="page-item" id="page{{ page_num }}">
                                    <a class="page-link"
                                       href="{{ url_for('media_group_index', media_group_id=current_mediagroup.id) }}?page_num={{ page_num }}">{{ page_num }}</a>
                                </li>
                            {% endfor %}
                            <li class="page-item" id="aft">
                                <a class="page-link"
                                   href="{{ url_for('media_group_index',  media_group_id=current_mediagroup.id) }}?page_num={{ now_page_num+1 }}">后一页</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </main>
    {% endblock content_main %}
    {% block content_footer %}
        <footer class="text-muted py-5">
            <div class="container">
                <p class="float-end mb-1">
                    <a href="#">回到最上</a>
                </p>
                <p class="mb-1">
                    鱼丸成长日记
                </p>
                <p class="mb-0">
                    v1.0.0
                </p>
            </div>
        </footer>
    {% endblock content_footer %}
    <!-- modal -->
    {% block modal %}
        <div class="modal" tabindex="-1" id="uploadmodal">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">照片上传</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input id="photoupload"
                               type="file"
                               name="mediafile"
                               data-preview-file-type="text"
                               multiple="multiple"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock modal %}
{% endblock content %}
{% block js_plus %}
    <script src="{{ url_for('static', path='/js/masonry.pkgd.min.js')}}"></script>
    <script src="{{ url_for('static', path='/js/imagesloaded.pkgd.min.js')}}"></script>
    <script src="{{ url_for('static', path='/fileinput/js/plugins/piexif.min.js')}}"></script>
    <script src="{{ url_for('static', path='/fileinput/js/plugins/sortable.min.js')}}"></script>
    <script src="{{ url_for('static', path='/fileinput/js/fileinput.min.js')}}"></script>
    <script src="{{ url_for('static', path='/fileinput/js/locales/zh.js')}}"></script>
    <script src="{{ url_for('static', path='/js/photo.js')}}"></script>
    <script type='text/javascript'>
        $(document).ready(function () {
            // with plugin options
            //$('.grid').masonry({
                // options
            //    itemSelector: '.grid-item',
            //});
            $("#photoupload").fileinput({
                language: "zh",
                previewFileType: "any",
                uploadUrl: "{{ url_for('media_add')}}",
                uploadAsync: true,
                allowedFileTypes:['image', 'video'],
                maxFileCount: 50,
                allowedPreviewTypes: ['image'],
                uploadExtraData: function(){
                    return {"user_id":"{{ current_user.id }}", "media_group_id":"{{ current_mediagroup.id }}" }
                }
            });

            $("#page{{ now_page_num }}").addClass('active');
            if ({{now_page_num}}=={{total_page_num}}){
                $("#aft").addClass("disabled");
            };
            if ({{now_page_num}}==1){
                $("#pre").addClass("disabled");
            };

        });
    </script>
{% endblock js_plus %}
